[submodule "liby12file"]
	path = liby12file
	url = https://github.com/vampirefrog/liby12file.git
[submodule "libopmfile"]
	path = libopmfile
	url = https://github.com/vampirefrog/libopmfile.git
[submodule "libdmpfile"]
	path = libdmpfile
	url = https://github.com/vampirefrog/libdmpfile.git
[submodule "libinsfile"]
	path = libinsfile
	url = https://github.com/vampirefrog/libinsfile.git
